body {
    background: url(z.jpg);
}

button {
    height: 120px;
    width: 120px;
    font-size: 60px;
    background-color: yellow;
    color: blue;
}

h1 {
    letter-spacing: 2px;
    margin-top: 3%;
    color: rgb(240, 6, 6);
}

#reset {
    margin-top: 2%;
    height: 50px;
    width: 369px;
    /* color:; */
   background-color:  wheat;
    font-size: 40px;
}